

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{::main})}"
>
<body>

<main class="container" style="    margin-bottom: 30px;
    margin-top: 30px;">
    <div class="row" th:fragment="shopping-cart">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>Ảnh</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng</th>
                </tr>
                </thead>
                <tbody>


                <tr ng-repeat="item in cartItems">
                    <td> {{item.chiTietSanPham.sanPham.ten}}</td>
                    <td>
                        <img ng-src="/assets/images/{{item.chiTietSanPham.hinhAnh}}.jpg" alt="Product Image" width="100" />
                    </td>
                    <td> {{item.giaBan | number : 2}} VND</td>
                    <td>
                        <input ng-change="cart.update(item.id, item.soLuong)" ng-model="item.soLuong" type="number" min="1" />
                    </td>

                    <td> {{item.soLuong*item.chiTietSanPham.giaBan | number : 3}} VND</td>
                    <td>
                        <button class="btn btn-danger" ng-click="cart.remove(item.id)">Remove</button>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <p> Tổng tiền: {{totalPrice | number : 3}} VND</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-primary">
                <br>
                <div class="panel-heading" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;font-weight: bold; padding-left: 8px; ">Thông tin của bạn</div>
                <br>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">

                        </div>
                        <!--                <div class="form-group col-sm-6">-->
                        <!--                    <div>Order Date:</div>-->
                        <!--                    <div class="form-control">{{oder.createDate | date :'dd-MM-yyyy'}}</div>-->
                        <!--                </div>-->
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label style="font-weight: bold;">Địa chỉ: </label>
                            <input  ng-model="donHang.diaChi" class="form-control" style="width: 458px;">
                        </div>

                        <div class="form-group col-sm-12">
                            <div style="font-weight: bold;">SDT:</div>
                            <input  ng-model="donHang.sdt" class="form-control" style="width: 458px;">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-weight: bold; float: left;margin-top: 5px;">Khuyến mãi:</label>



                            <input ng-model="kmMa" class="form-control" placeholder="Nhập mã khuyến mãi" style="width: 240px; margin-left: 10px; float: left;">
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-success" ng-click="cart.addKM()">Áp dụng</button>
                        </div>
                    </div>

                </div>
                <br>
                <div class="panel-footer text-right">
                    <button ng-click="donHang.purchase()" class="btn btn-success">Purchase</button>
                </div>
            </div>
</main>

</body>
</html>