<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MauSac List</title>
</head>
<body>
<div class="modal-content">
    <form th:action="@{/chi-tiet-san-pham/update(id=${ctsp.id})}" method="post" th:object="${ctsp}"
          onsubmit="return  confirm('Bạn có muốn thêm không?')">
        <div class="card-body">
            <div class="form-group">
                <label>Sản phẩm</label>
                <select class="form-control" th:field="*{sanPham}">
                    <option th:each="sanPham:${sanPhams}" th:value="${sanPham.id}"
                            th:text="${sanPham.ten}"></option>
                </select>
            </div>
            <div class="form-group">
                <label>Màu sắc</label>
                <div class="input-group">
                    <select class="form-control" th:field="*{mauSac}">
                        <option th:each="mauSac:${mauSacs}" th:value="${mauSac.id}"
                                th:text="${mauSac.ten}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Kích Thước</label>
                <div class="input-group">
                    <select class="form-control" th:field="*{kichThuoc}">
                        <option th:each="kichThuoc:${kichThuocs}" th:value="${kichThuoc.id}"
                                th:text="${kichThuoc.ten}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Giá nhập</label>
                <div class="input-group colorpickerinput">
                    <input type="text" class="form-control" placeholder="Nhập Đơn Giá"
                           th:field="*{giaNhap}">
                </div>
            </div>
            <div class="form-group">
                <label>Giá bán</label>
                <div class="input-group colorpickerinput">
                    <input type="text" class="form-control" placeholder="Nhập Đơn Giá"
                           th:field="*{giaBan}">
                </div>
            </div>
            <div class="form-group">
                <label>Hinh anh</label>
                <div class="input-group colorpickerinput">
                    <input type="file" class="form-control" placeholder="Nhập Đơn Giá"
                           th:field="*{hinhAnh}">
                </div>
            </div>
            <div class="form-group">
                <label>Số lượng</label>
                <div class="input-group colorpickerinput">
                    <input type="text" class="form-control" placeholder="Nhập số lượng"
                           th:field="*{soLuong}">
                </div>
            </div>

            <div class="form-group">
                <label class="d-block">Trạng thái</label>
                <div class="form-check">
                    <input type="radio" name="exampleRadios" th:field="*{trangThai}" value="1"
                           checked="checked">
                    <label class="form-check-label">
                        Hoạt động
                    </label>
                    <input type="radio" name="exampleRadios" th:field="*{trangThai}" value="0">
                    <label class="form-check-label">
                        Không hoạt động
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mr-1" type="submit">update</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
