
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{::main})}"
>
<body>
<main class="row">
    <!-- Product Information -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img id="product-image" th:src="@{|/assets/images/${item.hinhAnh}.jpg|}" class="card-img-top" src="" alt="Product Image">
                    <div class="card-body">
                        <p style="display: none" id="product-id" th:text="${item.id}" th:value="${item.id}" th:type="hidden"></p>
                        <h5 id="product-name" th:text="${item.ten}" class="card-title">Product Name</h5>
                        <p class="card-text">Giá: <span th:text="${item.giaBan}" id="product-price">0.00</span></p>
                        <p class="card-text">NSX: <span th:text="${item.nsx.ten}" id="product-nsx"></span></p>
                        <p  class="card-text">Mô tả :<span th:text="${item.moTa}" id="product-mota"></span></p>
                        <p id="product-soLuong" class="card-text"></p>
                    </div>
                </div>
            </div>

            <!-- Additional Product Information -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Additional Information</h3>
                    </div>
                    <div class="list-unstyled">
                        <!-- MauSac -->
                        <div class="form-group">
                            <label>Mau Sac:</label>
                            <ul>
                                <li class="item" th:each="mauSac : ${listOfMauSac}">
                                    <label class="color-label" th:for="${'mauSac_' + mauSac.id}" th:style="'background-color: ' + mauSac.mauHex">
                                        <span class="color-span" th:text="${mauSac.ten}" th:attr="data-value=${mauSac.id}"></span>
                                    </label>
                                    <input type="radio" name="mauSac" id="${'mauSac_' + mauSac.id}" th:value="${mauSac.id}" style="display: none;">
                                </li>
                            </ul>
                        </div>

                        <!-- KichThuoc -->
                        <div class="form-group">
                            <label>Kich Thuoc:</label>
                            <ul>
                                <li class="item" th:each="kichThuoc : ${listOfKichThuoc}">
                                    <label class="size-label" th:for="${'kichThuoc_' + kichThuoc.id}">
                                        <span class="size-span" th:text="${kichThuoc.ten}" th:attr="data-value=${kichThuoc.id}"></span>
                                    </label>
                                    <input type="radio" name="kichThuoc" id="${'kichThuoc_' + kichThuoc.id}" th:value="${kichThuoc.id}" style="display: none;">
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <button id="cart-button" class="btn btn-success">
                <i>Cart</i>
            </button>

        </div>
    </div>
    <script th:src="@{/assets/js/product-detail.js}"></script>
</body>

</html>